.teams, .head {
    display:flex;
    flex-direction:row;
    /* align-self: center; */
    justify-content: center;
    min-width: 30vw; 
}
.teams {
    flex-wrap: wrap;
}
.teamMember {
    background-color: steelblue;
    padding: 1rem;
    margin: 1rem;
}

@media only screen and (max-width: 768px) {
    .head {
        display: flex;
    flex-direction: column;
    }
}