.teams {
    display:flex;
    flex-direction:row;
    /* align-self: center; */
    justify-content: center;
    min-width: 30vw; 
}
.teams {
    flex-wrap: wrap;
}
.teamName {
    background-color: steelblue;
    padding: 1rem;
    margin: 1rem;
}
